<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>dsafillate</name>
	<displayName><![CDATA[DS: Afillate]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[This moduel add afilate program to your store]]></description>
	<author><![CDATA[Dark-Side.pro]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
